.main-class-detail {
    margin: .5rem 1rem .5rem 1rem;
    padding: .2rem;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    width: 93%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(158, 154, 154, 0.671);
}

.main-section-detail {
    height: 100%;
}

.div-imagen {
    width: 94%;
    /* height: 85%; */
    margin: .5rem;
    padding: .5rem;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.div-detail-detail {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}

.div-info {
    height: 370px;
    color: black;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.div-orders {
    display: flex;
    height: auto;
    /* width: 300px; */
    color: black;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    flex-direction: column;
    justify-content: space-between;
}

.order-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.order-quantity {
    display: flex;

    i {
        padding-inline: .5rem;
    }
}

.info-cant {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.div-description {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    color: black;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);

    h2 {
        padding-inline: .5rem;
    }
}



.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-category {
    font-size: smaller;
}

.info-title {
    font-size: x-large;
    padding: .5rem 0 1rem 0;
    color: black;
    text-shadow: 1px 1px 2px rgb(52, 51, 51);
}

.info-info {
    padding: 1rem 0 1rem 0;
    color: black;
    text-shadow: 1px 1px 2px rgb(52, 51, 51);
}

.info-price {
    font-size: larger;
    color: black;
    text-shadow: 1px 1px 2px rgb(52, 51, 51);
}

.info-selector {
    display: flex;
    width: 100px;
    border: 1px solid;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.card-btn {
    padding: 6px 12px;
    background: var(--gradiente);
    font-size: 12px;
    color: white;
    text-decoration: none;
    border: none;
    font-family: var(--font-family);
    transition: all 500ms ease;
    border-radius: 3px;
    font-weight: bold;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.75);

    &:hover {
        background: var(--gradiente-hover);
        box-shadow: 4px 4px 4px 0px rgba(81, 0, 0, 0.656);
    }
}

.info-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
}

.count-detail {
    display: flex;
    justify-content: flex-end;
    padding-right: 0.5rem;
    gap: 1rem;
}


@media screen and (width > 768px) {
    .div-imagen {
        width: 450px;
        height: 450px;
        margin: .5rem;
        padding: .5rem;
        border: 1px solid black;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        overflow-y: auto;
    }

    .div-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 450px;
        width: 30%;
        margin: .5rem;
        padding: .5rem;
        border: 1px solid black;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    }

    .div-orders {
        height: 450px;
        width: 30%;
        margin: .5rem;
        padding: .5rem;
        border: 1px solid black;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        overflow: hidden;
    }


    .img {
        width: 430px;
        height: 430px;
        object-fit: cover;
    }

    .div-detail-detail {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: stretch;
    }

    .info-title {
        padding: 1rem 0 2rem 0;
    }

    .info-description {
        padding: 1rem 3rem 2rem 0;
    }

    .info-selector {
        display: flex;
        width: 100px;
        border: 1px solid;
        justify-content: space-between;
        margin-bottom: 1rem;
    }



}